.introduktion {
  display: flex;
  flex-direction: column;
  background-color: #d33f14;
  padding: 20px;
  margin: 30px 30px 30px 30px;
}

.aarstal {
  text-align: right;
  margin-top: 35px;
}

.cta:hover {
  background-color: #e9e8e3;
}
