/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/************ Farver **************/
html {
  --cream: #e9e8e3;
  --red: #d33f14;
  --black: #101010;
  --white: #ffffff;
}

/***********body********/
body {
  background-color: #e9e8e3;
}

/**********font*****************/

h1 {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

h3 {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

p {
  font-family: "aktiv-grotesk", sans-serif;
}

/************cta*************/

.cta {
  border-style: solid;
  padding: 6px 12px;
  font-family: "aktiv-grotesk", sans-serif;
  border-color: #101010;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #101010;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cta img {
  width: 14px;
  height: auto;
}

.cta:hover {
  background-color: #d33f14;
}

/**************logo****************/
.logo img {
  display: block;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  justify-content: left;
  width: 40%;
}

/******************* animation linje ****************/
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  block-size: 6px;
  background-color: #d33f14;
  z-index: 1;

  animation: site-progress linear;
  transform-origin: 0;
  animation-timeline: scroll();
}

/******************menu*******************/
header {
  position: relative;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e9e8e3;
  font-family: "aktiv-grotesk", sans-serif;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
  border-style: solid;
}

.menu a:hover {
  background-color: #d33f14;
}

.temamenu {
  display: none;
  position: absolute;
  background-color: #e9e8e3;
  z-index: 1;
  width: 10ch;
}
.dropdown:hover .temamenu {
  display: block;
}
.menu a:hover {
  background-color: #d33f14;
}

/**********************burger**************/
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media (max-width: 840px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  /*************menu i burger*************/
  nav.active .menu {
    display: block;
    background-color: #e9e8e3;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .temamenu {
    width: 94%;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
}
/**************footer**************/
footer {
  background-color: #000000;
  position: relative;
  color: white;
  text-align: left;
  padding: 40px;
}

footer li {
  list-style: none;
}

footer p {
  margin-left: 30px;
  font-family: "aktiv-grotesk", sans-serif;
  padding: 15px;
  margin-right: 40px;
}

footer h3 {
  display: block;
  margin-top: 30px;
  margin-left: 20px;
  padding: 30px;
  font-weight: 700;
  color: #d33f14;
}

footer h2 {
  margin-top: 25px;
  margin-left: 30px;
  font-family: "aktiv-grotesk", sans-serif;
  padding: 15px;
}

footer img {
  display: block;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  justify-content: left;
  width: 20%;
}

footer a {
  text-decoration: none;
  font-family: "aktiv-grotesk", sans-serif;
  color: white;
  margin-left: 30px;
  padding: 15px;
  line-height: 30px;
  margin-bottom: 30px;
}

footer a:hover {
  color: #d33f14;
}

.footerlogo img {
  display: block;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  justify-content: left;
  width: 20%;
  margin-top: 70px;
}

.cta_btntop {
  border-style: solid;
  padding: 6px 12px;
  font-family: "aktiv-grotesk", sans-serif;
  border-color: #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 9px;
  margin-left: 50px;
  margin-top: 30px;
}

.cta_btntop img {
  width: 10px;
  height: auto;
}

.cta_btntop:hover {
  background-color: #d33f14;
}

.footerpynt {
  width: 100%;
  height: auto;
  display: block;
}

.kontakt {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-left: 30px;
}

.kontakt a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.kontakt img {
  width: 32px;
  height: auto;
  margin-bottom: 20px;
}

.kontakt img:first-child {
  margin-left: 20px;
}

.footerpynt {
  margin-top: 0;
}
