.h1sider h1 {
  text-align: center;
}

.h1sider h2 {
  color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

h1 {
  margin-right: 50px;
  padding: 20px;
  margin-top: 30px;
}

h3 {
  margin-right: 50px;
  padding: 10px;
  color: #101010;
  font-weight: 200;
  margin-bottom: 3px;
  margin-top: 30px;
}

h2 {
  margin-right: 50px;
  padding: 10px;
  color: #101010;
  margin-bottom: 3px;
  margin-top: 10px;
}

p {
  padding: 30px;
  line-height: 1.5rem;
}

.skills {
  background-color: #101010;
  margin-bottom: 30px;
}

.skills h1 {
  color: #ffffff;
  text-align: left;
  padding: 40px;
}

.skills img {
  padding: 60px;
}

/*************ommigbillede**********/

.ommig {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ommig > img {
  object-fit: cover;
  padding: 30px;
  max-width: 100%;
}

.billedeunder img {
  width: 90%;
  position: absolute;
  bottom: -20px;
  transform: translateX(-50%);
}

/***********************dialog********************/

#close_btn {
  border-color: #101010;
  padding: 10px;
  background-color: #d33f14;
}

#cta_open1.cta_btn {
  padding: 10px;
}

.cta_btn {
  padding: 0.4rem 1rem;
  background-color: #d33f14;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 20px;
}

.erfaringdialog #dialog1 {
  padding: 40px;
  margin: 20px;
  gap: 10px;
  background-color: white;
  justify-self: left;
  border-color: #101010;
  border: none;
  max-width: 400px;
  color: black;
  line-height: 3rem;
}

::backdrop {
  backdrop-filter: blur(5px);
}

.erfaringdialog .cta_btn {
  background-color: #d33f14;
  margin-right: 20px;
}
.erfaringdialog:nth-of-type(2n) .cta_btn {
  background-color: #d33f14;
  color: white;
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}
