.h1sider h1 {
  text-align: center;
}

.h1sider h2 {
  color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

h1 {
  margin-left: 30px;
  padding: 20px;
  margin-top: 30px;
}

h3 {
  color: #101010;
  font-weight: 200;
  margin: 30px 30px 30px 30px;
}

h2 {
  margin-right: 70px;
  color: #101010;

  font-weight: 700;
  margin: 30px 30px 30px 30px;
}

p {
  line-height: 1.5rem;
  margin: 30px 30px 30px 30px;
}

.introduktionommig {
  padding: 30px;
}

.minerfaring {
  padding: 30px;
}

.ommigtekst {
  margin-top: 100px;
}

/*****************skills afdeling**********************/
.skills {
  background-color: #101010;
  margin: 50px 50px 50px 50px;
  padding: 50px;
}

.skills h1 {
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.skills img {
  margin-right: 40px;
  margin-top: 50px;
}

/*************ommigbillede**********/

.ommig {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ommig > img {
  object-fit: cover;
  padding: 50px;
  max-width: 100%;
}

.billedeunder img {
  width: 90%;
  position: absolute;
  bottom: -20px;
  transform: translateX(-50%);
}

.afrundingsbillede {
  padding: 50px;
}

/***********************dialog********************/

#close_btn {
  border-color: #101010;
  padding: 10px;
  background-color: #d33f14;
}

#cta_open1.cta_btn {
  padding: 10px;
}

.cta_btn {
  padding: 0.4rem 1rem;
  background-color: #d33f14;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 20px;
}

.erfaringdialog #dialog1 {
  padding: 50px;
  gap: 10px;
  background-color: white;
  justify-self: center;
  border-color: #101010;
  border: none;
  max-width: 400px;
  color: black;
  line-height: 3rem;
  margin-top: 30px;
}

.erfaringdialog h1 h2 p {
  text-align: center;
}

.erfaringdialog h2 {
  font-size: 1.2rem;
  line-height: 2px;
  margin-top: 70px;
}

.erfaringdialog h1 {
  font-size: 30px;
  line-height: 35px;
  margin-left: 5px;
}

.erfaringdialog .Erhvervserfaring {
  padding: 20px;
  background-color: #e9e8e3;
}

.erfaringdialog .Kurser {
  padding: 20px;
  background-color: #e9e8e3;
}

::backdrop {
  backdrop-filter: blur(5px);
}

.erfaringdialog .cta_btn {
  background-color: #d33f14;
  margin-right: 20px;
}
.erfaringdialog:nth-of-type(2n) .cta_btn {
  background-color: #d33f14;
  color: white;
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}
