.h1sider h1 {
  text-align: center;
}

.h1sider h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

.genvejprojekter {
  padding: 40px;
}

.genvejprojekter h3 {
  color: #d33f14;
  margin-right: 20px;
  padding: 30px;
  line-height: 0;
}

h2 {
  margin-right: 20px;
  padding: 10px;
  margin-left: 20px;
  color: #101010;
}

.projekt img:first-child {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 70%;
  position: center;
  margin-top: 30px;
  width: 100%;
  height: auto;
  padding: 30px;
}
