.h1sider h1 {
  text-align: center;
}

.h1sider h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

.genvejprojekter h3 {
  color: #d33f14;
  margin-right: 20px;
  padding: 30px;
  line-height: 0;
}

h2 {
  margin-right: 20px;
  padding: 10px;
  margin-left: 20px;
  color: #101010;
}

.genvejprojekter img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 70%;
  position: center;
  margin-top: 50px;
}

/*
.cta {
  display: inline-flex;
  align-items: center;
  border-color: #101010;
  margin-left: 30px;
  gap: 20px;
  line-height: 1;
}

.cta:hover {
  background-color: #d33f14;
  color: white;
}


.cta-pil {
  display: inline-block;
  width: 2px;
  height: 3px;
  vertical-align: middle;
}

.cta a {
  color: #101010;
}
