.h1sider h1 {
  text-align: center;
}

.h1sider h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

h2 {
  margin-right: 20px;
  padding: 10px;
  margin-left: 40px;
  color: #101010;
  margin-bottom: 3px;
  margin-top: 30px;
}

p {
  padding: 40px;
  line-height: 1.5rem;
}

/****************alt indhold**************/

.procesindhold {
  padding: 30px;
}

/*************oversigt over læring***********/
#laering {
  background-color: #d33f14;
  padding: 30px;
}

#laering h1 {
  text-align: center;
  padding: 20px;
}

#laering h2 {
  font-weight: 200;
  font-size: 1.6rem;
  margin-top: 3px;
  padding: 5px;
  color: #ffffff;
}

#laering img {
  width: 100%;
}

/**************CTA***********/
.cta:hover {
  background-color: #d33f14;
}

/***********billeder*************/

.procesindhold img {
  padding: 20px;
  margin-top: 30px;
}

/*************animation************/

@keyframes clip-reveal {
  from {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.fade {
  animation: clip-reveal 1s ease-in-out both;
  animation-timeline: view();
  animation-range: 20% 50%;
}
